{% extends "pohja.html" %}<!--Toimii pohjana -->
{% block title %}Infuusionestekaappi{% endblock %}
{% block content %}
<!--Lääkehuoneen alue: Infuusionestekaappi-->
<!--Luodaan vierityksellä toimivia taulukoita niin monta kuin valitulla lääkehuoneen alueella, Infuusionestekaappi, on mitattavia olosuhteita: -->
<div class="taulukko">
    {%for t in tmaara%}
        <table class="fixed">
            <thead>
                <tr class="sensori">
                    <!--Olosuhteen nimi taulukon otsikkona:-->
                    <th colspan="3">{{t}}</th>
                </tr>
                <!--Sarakkeiden otsikot:-->
                <tr class="otsikko">
                    <th>Aika</th>
                    <th>Arvo</th>
                    <th>Kuitattu</th>
                </tr>
            </thead>
            <!--Esitetään taulukossa olosuhteeseen liittyvät mittaukset:-->
            <tbody class="skrolli"><!--Kun mittauksia on riittävästi, alue muuttuu vieritettäväksi:-->
                <!--Lämpötila-->
                    {%if t=='Lämpötila'%}
                    {%for i in infuusio%}
                    {%if i['olosuhde']=='lämpötila'%}
                    <tr>
                    <td>{{i['aika'].strftime("%H:%M")}}</td>
                    <td>{{i['tulos']}} °C</td>
                    <!--Tarkistetaan, onko arvo kuitattu. Jos kuittaus tapauhtunut, muodostuu vihreä pallo-->
                    {%if i['kuitattu']==1%}
                    <td><svg width="15" height="15">
                            <circle class="kuitattu" cx="7" cy="7" r=6></circle>
                        </svg></td>
                    {%else%}
                    <td></td>
                    {%endif%}
                    </tr>
                    {%endif%}
                    {%endfor%}
                    {%endif%}

                <!--Valo-->
                <!--Määritellään sanallisesti, onko todettu valoisuuden arvo poikkeava vai normaali-->
                    {%if t=='Valoisuus'%}
                    {%for i in infuusio%}
                    {%if i['olosuhde']=='valo'%}
                    <tr>
                    <td>{{i['aika'].strftime("%H:%M")}}</td>
                    {%if i['tulos']>4000%}
                    <td class="tulos">poikkeava</td>
                    {%else%}
                    <td class="tulos">normaali</td>
                    {%endif%}
                    <!--Tarkistetaan, onko arvo kuitattu. Jos kuittaus tapauhtunut, muodostuu vihreä pallo-->
                    {%if i['kuitattu']==1%}
                    <td><svg width="15" height="15">
                            <circle class="kuitattu" cx="7" cy="7" r=6></circle>
                        </svg></td>
                    {%else%}
                    <td></td>
                    {%endif%}
                    </tr>
                    {%endif%}
                    {%endfor%}
                    {%endif%}
            </tbody>
        </table>
    {%endfor%}
    </div>
{% endblock %}
